
.main-content-component {
  margin-bottom: 40px;
}

body {
  font-family: 'Helvetica', sans-serif;
  visibility: visible;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #de411b;
}

.link-item {
  color: #de411b;
}

.logo {
  height: 50px;
  padding: 6px;
}

.events {
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.events .event {
  width: 300px;
  border: 2px solid #ebf1f6;
  background-color: #ffffff;
  border-radius: 12%;
  box-shadow: 0 0 4px 0 rgba(145, 158, 171, .2), 0 12px 24px -4px rgba(145, 158, 171, .12);
  transition: transform .3s;
}

.event-title {
  color: #de411b;
  padding-bottom: 4px;
}

.event img {
  height: 215px;
  width: 100%;
  border-radius: 14% 14% 0% 0%;
}

/*Hover*/
.event:hover {
  transform: scale(1.1);
  box-shadow: rgba(190, 60, 9, 0.25) 0px 13px 47px -5px, rgba(177, 57, 9, 0.25) 0px 8px 16px -8px;
}

#ticketType {
  width: 100%;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

#page-header {
  background-color: #fff;
  position: sticky;
  top: 0;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: .9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
}

#ticketType {
  width: 100%;
}

.actions {
  flex-wrap: wrap;
}

.quantity {
  margin: 12px auto;
}

#page-header {
  background-color: #fff;
  position: sticky;
  z-index: 999999;
  top: 0;
}

.link-item {
  color: #de411b
}

.add-btn {
  background-color: #de411b;
}

.add-to-cart-btn {
  background: #de411b;
  margin: 22px auto;
  display: block;
  width: 60%;
  align-items: center;
}

.event-cart-name {
  color: hsla(0, 9%, 53%, 0.782);
  height: 300px;
  width: 80%;
}

.increase {
  background-color: #de411b;
}

.decrease {
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.decrease:hover {
  background-color: #585858;
}

.ticket {
  text-align: center;
  flex: 1;
  padding: 10px;
  background-color: #de411b;
  color: white;
  border-style: solid;
  border: white 2px;
  border: 2px solid white;
}

.search-button {
  background-color: #de411b;
  border: 2px solid;
}

.search-div {
  display: flex;
  justify-content: center;
}

.filter-div {
  justify-content: center;
  padding: 20px;
  display: flex;
  color: grey;
}

.filter-location {
  width: 190px;
  height: 44px;
  border: 2px solid #de411b;
}

.filter-eventType {
  width: 190px;
  height: 44px;
  padding: 6px;
  border: 2px solid #de411b;
}


.select-div {
  padding-top: 10px;
  padding-left: 3px;
}

.zoom-out {
  transition: transform .3s;
}

.zoom-out:hover {
  transform: scale(1.1);
  box-shadow: rgba(190, 60, 9, 0.25) 0px 13px 47px -5px, rgba(177, 57, 9, 0.25) 0px 8px 16px -8px;
}

.zoom-out-purchase {
  transition: transform .3s;
}

.zoom-out-purchase:hover {
  transform: scale(1.02);
  
}

.search-input {
  border: 2px solid #de411b;
  color: #585858;
}


.search-input:active {
  border: 2px solid #de411b;
}

.filter-button {
  background-color: #de411b;
  border: 2px solid;
}

.delete-filter-button {
  background-color: #de411b;
  border: 2px solid;
}

.purchases {
  padding-bottom: 10px;
}

.filter-show-button {
  background-color: #de411b;
  border: 2px solid;
}
